workflows/security-blog-summarizer.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "$connections": {
            "defaultValue": {},
            "type": "Object"
        },
        "openAiEndpoint": {
            "type": "String",
            "defaultValue": "",
            "metadata": {
                "description": "Azure OpenAI API Endpoint (예: https://your-openai.openai.azure.com/)"
            }
        },
        "openAiDeploymentName": {
            "type": "String",
            "defaultValue": "gpt-4",
            "metadata": {
                "description": "Azure OpenAI GPT-4 Deployment Name"
            }
        },
        "emailRecipient": {
            "type": "String",
            "metadata": {
                "description": "이메일 수신자 주소"
            }
        },
        "rssFeedUrl": {
            "type": "String",
            "defaultValue": "https://www.microsoft.com/en-us/security/blog/feed/",
            "metadata": {
                "description": "RSS 피드 URL"
            }
        },
        "rssItemLimit": {
            "type": "Int",
            "defaultValue": 3,
            "metadata": {
                "description": "한 번 실행에서 처리할 RSS 아이템 최대 개수 (CI 안정화/부하 제어용)"
            }
        },
        "functionsAppUrl": {
            "type": "String",
            "metadata": {
                "description": "Azure Functions base URL (예: https://func-xxx.azurewebsites.net)"
            }
        },
        "functionKey": {
            "type": "SecureString",
            "metadata": {
                "description": "Azure Functions key (x-functions-key 헤더로 전달)"
            }
        }
    },
    "triggers": {
        "Recurrence": {
            "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "schedule": {
                    "hours": [
                        "7",
                        "15",
                        "22"
                    ],
                    "minutes": [
                        0
                    ]
                },
                "timeZone": "Korea Standard Time"
            },
            "type": "Recurrence"
        }
    },
    "actions": {
        "Initialize_NewPosts": {
            "type": "InitializeVariable",
            "inputs": {
                "variables": [
                    {
                        "name": "newPosts",
                        "type": "Array",
                        "value": []
                    },
                    {
                        "name": "recentPosts",
                        "type": "Array",
                        "value": []
                    }
                ]
            },
            "runAfter": {}
        },
        "Validate_RSS_Feed_URL": {
            "actions": {
                "List_RSS": {
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['rss']['connectionId']"
                            }
                        },
                        "path": "/ListFeedItems",
                        "queries": {
                            "feedUrl": "@parameters('rssFeedUrl')"
                        },
                        "method": "get"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                },
                "Send_RSS_Error_Email": {
                    "inputs": {
                        "body": {
                            "Subject": "❌ Logic App 오류 - RSS 조회 실패 - @{utcNow()}",
                            "To": "@parameters('emailRecipient')",
                            "Body": "<h2>RSS 조회 실패</h2><p>rssFeedUrl: @{parameters('rssFeedUrl')}</p><p>실행 ID: @{workflow().run.name}</p><p>상태: @{actions('List_RSS').status}</p><pre>@{string(actions('List_RSS'))}</pre>",
                            "Importance": "High"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['office365']['connectionId']"
                            }
                        },
                        "path": "/v2/Mail",
                        "method": "post"
                    },
                    "runAfter": {
                        "List_RSS": [
                            "Failed",
                            "TimedOut"
                        ]
                    },
                    "type": "ApiConnection"
                },
                "Terminate_On_RSS_Error": {
                    "inputs": {
                        "runStatus": "Failed",
                        "runError": {
                            "code": "RssFeedFetchFailed",
                            "message": "Failed to fetch RSS feed items"
                        }
                    },
                    "runAfter": {
                        "Send_RSS_Error_Email": [
                            "Succeeded",
                            "Failed"
                        ]
                    },
                    "type": "Terminate"
                },
                "Scope_Process_RSS": {
                    "type": "Scope",
                    "runAfter": {
                        "List_RSS": [
                            "Succeeded"
                        ]
                    },
                    "actions": {
                        "If_Has_RSS_Items_Append_RecentPost": {
                            "type": "If",
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@length(body('List_RSS'))",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {},
                            "actions": {
                                "Append_RecentPost": {
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "recentPosts",
                                        "value": {
                                            "title": "@{first(body('List_RSS'))?['title']}",
                                            "link": "@{first(body('List_RSS'))?['primaryLink']}",
                                            "publishDate": "@{first(body('List_RSS'))?['publishDate']}",
                                            "summary": "@{first(body('List_RSS'))?['summary']}",
                                            "sourceName": "SecurityBlog"
                                        }
                                    },
                                    "runAfter": {}
                                }
                            },
                            "else": {
                                "actions": {}
                            }
                        },
                        "For_Each_RSS_Item": {
                            "type": "Foreach",
                            "foreach": "@take(body('List_RSS'), parameters('rssItemLimit'))",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            },
                            "runAfter": {
                                "If_Has_RSS_Items_Append_RecentPost": [
                                    "Succeeded"
                                ]
                            },
                            "actions": {
                                "Check_Duplicate": {
                                    "type": "Http",
                                    "inputs": {
                                        "method": "POST",
                                        "uri": "@{concat(parameters('functionsAppUrl'), '/api/CheckDuplicate')}",
                                        "headers": {
                                            "Content-Type": "application/json",
                                            "x-functions-key": "@parameters('functionKey')"
                                        },
                                        "body": {
                                            "link": "@{items('For_Each_RSS_Item')?['primaryLink']}",
                                            "sourceName": "SecurityBlog"
                                        }
                                    },
                                    "runAfter": {}
                                },
                                "If_Not_Duplicate": {
                                    "type": "If",
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@body('Check_Duplicate')?['isDuplicate']",
                                                    false
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {
                                        "Check_Duplicate": [
                                            "Succeeded"
                                        ]
                                    },
                                    "actions": {
                                        "Call_Summarize_Post": {
                                            "type": "Http",
                                            "inputs": {
                                                "method": "POST",
                                                "uri": "@{concat(parameters('functionsAppUrl'), '/api/SummarizePost')}",
                                                "headers": {
                                                    "Content-Type": "application/json",
                                                    "x-functions-key": "@parameters('functionKey')"
                                                },
                                                "body": {
                                                    "title": "@{items('For_Each_RSS_Item')?['title']}",
                                                    "content": "@{items('For_Each_RSS_Item')?['summary']}",
                                                    "link": "@{items('For_Each_RSS_Item')?['primaryLink']}"
                                                }
                                            },
                                            "runAfter": {}
                                        },
                                        "Insert_To_Table_Storage": {
                                            "type": "Http",
                                            "inputs": {
                                                "method": "POST",
                                                "uri": "@{concat(parameters('functionsAppUrl'), '/api/InsertProcessed')}",
                                                "headers": {
                                                    "Content-Type": "application/json",
                                                    "x-functions-key": "@parameters('functionKey')"
                                                },
                                                "body": {
                                                    "link": "@{items('For_Each_RSS_Item')?['primaryLink']}",
                                                    "title": "@{items('For_Each_RSS_Item')?['title']}",
                                                    "sourceName": "SecurityBlog"
                                                }
                                            },
                                            "runAfter": {
                                                "Call_Summarize_Post": [
                                                    "Succeeded"
                                                ]
                                            }
                                        },
                                        "Append_NewPost": {
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "newPosts",
                                                "value": {
                                                    "title": "@{items('For_Each_RSS_Item')?['title']}",
                                                    "link": "@{items('For_Each_RSS_Item')?['primaryLink']}",
                                                    "publishDate": "@{items('For_Each_RSS_Item')?['publishDate']}",
                                                    "summary": "@{items('For_Each_RSS_Item')?['summary']}",
                                                    "sourceName": "SecurityBlog",
                                                    "englishSummary": "@{body('Call_Summarize_Post')?['englishSummary']}",
                                                    "koreanSummary": "@{body('Call_Summarize_Post')?['koreanSummary']}"
                                                }
                                            },
                                            "runAfter": {
                                                "Call_Summarize_Post": [
                                                    "Succeeded"
                                                ]
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {}
                                    }
                                }
                            }
                        },
                        "Generate_Email_HTML": {
                            "type": "Http",
                            "inputs": {
                                "method": "POST",
                                "uri": "@{concat(parameters('functionsAppUrl'), '/api/GenerateEmailHtml')}",
                                "headers": {
                                    "Content-Type": "application/json",
                                    "x-functions-key": "@parameters('functionKey')"
                                },
                                "body": {
                                    "newPosts": "@variables('newPosts')",
                                    "recentPosts": "@variables('recentPosts')"
                                }
                            },
                            "runAfter": {
                                "For_Each_RSS_Item": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "Send_Email": {
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Subject": "@{body('Generate_Email_HTML')?['subject']}",
                                    "To": "@parameters('emailRecipient')",
                                    "Body": "@{body('Generate_Email_HTML')?['html']}",
                                    "Importance": "High"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "path": "/v2/Mail",
                                "method": "post"
                            },
                            "runAfter": {
                                "Generate_Email_HTML": [
                                    "Succeeded"
                                ]
                            }
                        }
                    }
                },
                "Send_Processing_Error_Email": {
                    "type": "ApiConnection",
                    "inputs": {
                        "body": {
                            "Subject": "❌ Logic App 오류 - 처리 실패 - @{utcNow()}",
                            "To": "@parameters('emailRecipient')",
                            "Body": "<h2>처리 실패</h2><p>실행 ID: @{workflow().run.name}</p><p>rssFeedUrl: @{parameters('rssFeedUrl')}</p><pre>@{string(actions('Scope_Process_RSS'))}</pre>",
                            "Importance": "High"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['office365']['connectionId']"
                            }
                        },
                        "path": "/v2/Mail",
                        "method": "post"
                    },
                    "runAfter": {
                        "Scope_Process_RSS": [
                            "Failed",
                            "TimedOut"
                        ]
                    }
                },
                "Terminate_On_Processing_Error": {
                    "type": "Terminate",
                    "inputs": {
                        "runStatus": "Failed",
                        "runError": {
                            "code": "WorkflowProcessingFailed",
                            "message": "Failed while processing RSS items or sending email"
                        }
                    },
                    "runAfter": {
                        "Send_Processing_Error_Email": [
                            "Succeeded",
                            "Failed"
                        ]
                    }
                }
            },
            "else": {
                "actions": {
                    "Send_Invalid_RSS_Email": {
                        "inputs": {
                            "body": {
                                "Subject": "❌ Logic App 오류 - RSS URL 유효성 실패 - @{utcNow()}",
                                "To": "@parameters('emailRecipient')",
                                "Body": "<h2>RSS URL 유효성 검사 실패</h2><p>rssFeedUrl 값이 비어있거나 https://로 시작하지 않습니다.</p><p>rssFeedUrl: @{parameters('rssFeedUrl')}</p><p>실행 ID: @{workflow().run.name}</p>",
                                "Importance": "High"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "path": "/v2/Mail",
                            "method": "post"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    },
                    "Terminate_On_Invalid_RSS": {
                        "inputs": {
                            "runStatus": "Failed",
                            "runError": {
                                "code": "InvalidRssFeedUrl",
                                "message": "rssFeedUrl is empty or not https"
                            }
                        },
                        "runAfter": {
                            "Send_Invalid_RSS_Email": [
                                "Succeeded",
                                "Failed"
                            ]
                        },
                        "type": "Terminate"
                    }
                }
            },
            "expression": {
                "and": [
                    {
                        "not": [
                            {
                                "empty": [
                                    "@parameters('rssFeedUrl')"
                                ]
                            }
                        ]
                    },
                    {
                        "startsWith": [
                            "@parameters('rssFeedUrl')",
                            "https://"
                        ]
                    }
                ]
            },
            "runAfter": {
                "Initialize_NewPosts": [
                    "Succeeded"
                ]
            },
            "type": "If"
        }
    },
    "outputs": {}
}
